/************************************************/
/*    Vraag me niet andere mensen te worden     */
/************************************************/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    background-color: #f2f2f2;
    background: url('../img/bg.png');
}

html, body {
    height: 100%;
}

body {
    color: #222;
    font-family: Skolar, 'ff-meta-serif-web-pro', Georgia, Times, "Times New Roman", serif;
    font-size: 30px;
    line-height: 1.7em;
    text-align: center;
}

/* ---------------------- */

/* typography */

h1, h2, h3 {
    font-family: 'Helvetica Neue', Helvetica, "pragmatica-web", Arial, sans-serif;
    letter-spacing: -0.05em;
    text-align: center;
}

h1 {
    font-size: 4em;
    text-transform: uppercase;
    color: #BD0000;
}

h2 {
    font-size: 2.2em;
    line-height: 1.4em;
}

h3 {
    font-size: 1.6em;
}

h4 {
    font-size: .4em;
    text-transform: uppercase;
    font-family: 'ff-meta-serif-web-pro', Georgia, Times, "Times New Roman", serif;
}

blockquote {
    font-family: skolar, 'ff-meta-serif-web-pro', Georgia, Times, "Times New Roman", serif;
    font-size: 2.5em;
    line-height: 1em;
    letter-spacing: -0.05em;
    font-weight: normal;
    text-align: center;
}

p {
    font-size: 1em;
    margin-bottom: 40px;
}

a {
    color: #036564;
}

.nadruk {
    border-bottom: solid .2em #036564;
    padding-bottom: .06em;
}

/* ---------------------- */

/* lay-out */

section {
    padding: 10px 0;
}

.story-content {
    margin: 0 auto;
}

.site-width {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}

.copy-width {
    width: 82%;
    margin: 0 auto;
}

/* ---------------------- */

/* sections */

.head {
    background: ;
    text-align: center;
}

.head h1 {
    line-height: 1em;
    color: #000;
    font-size: 2.3em;
    margin-top: 140px;
}

.head h1.l {
    font-size: 10em;
    margin: 0 auto;
}

.beeldmerk {
    background: url('../img/beeldmerkaandewereldbevolking.png') no-repeat center;
    height: 380px;
}

/* ---------------------- */

.vragen {
    background: ;
    height: 270px;
}

.vragen .copy-width {
}

.vragen ol li {
    font-size: 1.5em;
    line-height: 1.8em;
}

.vraag1, .vraag2, .vraag3, .vraag4, .vraag5 {
    background: white;
    text-align: center;
}

.vraag1 {
    padding-top: 100px;
}

.vraag3 {
    background: ;
}

.vraag4 {
    background: ;
}

.vraag5 {
    background: ;
}

/* ---------------------- */

.cta {
    background: url('../img/bg.png');
    padding: 80px 0;
    text-align: left;
}

/* ---------------------- */
